<nav class="cover-navigation navigation--social">
  <ul class="navigation">

  <!-- Facebook -->
  {% if site.social.facebook %}
  <li class="navigation__item">
    <a href="https://www.facebook.com/{{site.social.facebook}}" title="Facebook" target="_blank">
      <i class='social fa fa-facebook-square'></i>
      <span class="label">Facebook</span>
    </a>
  </li>
  {% endif %}

  <!-- LinkedIn -->
  {% if site.social.linkedin %}
  <li class="navigation__item">
    <a href="https://www.linkedin.com/in/{{site.social.linkedin}}/" title="LinkedIn" target="_blank">
      <i class='social fa fa-linkedin-square'></i>
      <span class="label">LinkedIn</span>
    </a>
  </li>
  {% endif %}

  <!-- Github -->
  {% if site.social.github %}
 <li class="navigation__item">
    <a href="https://github.com/{{site.social.github}}" title="@{{site.social.github}} 的 Github" target="_blank">
      <i class='social fa fa-github'></i>
      <span class="label">Github</span>
    </a>
  </li>
  {% endif %}

  <!-- Weibo -->
  {% if site.social.weibo %}
  <li class="navigation__item">
    <a href="http://weibo.com/{{site.social.weibo}}" title="Weibo" target="_blank">
      <i class='social fa fa-weibo'></i>
      <span class="label">Weibo</span>
    </a>
  </li>
  {% endif %}
  
  <!-- Twitter -->
  {% if site.social.twitter %}
  <li class="navigation__item">
    <a href="http://twitter.com/{{site.social.twitter}}" title="@{{site.social.twitter}}" target="_blank">
      <i class='social fa fa-twitter'></i>
      <span class="label">Twitter</span>
    </a>
  </li>
  {% endif %}

  <!-- Google+ -->
  {% if site.social.gplus %}
  <li class="navigation__item">
    <a href="https://plus.google.com/{{site.social.gplus}}" rel="author" title="Google+" target="_blank">
      <i class='social fa fa-google-plus-square'></i>
      <span class="label">Google Plus</span>
    </a>
  </li>
  {% endif %}

  <!-- RSS -->
  <li class="navigation__item">
    <a href="/feed.xml" rel="author" title="RSS" target="_blank">
      <i class='social fa fa-rss'></i>
      <span class="label">RSS</span>
    </a>
  </li>

  <!-- Mail to -->
  {% if site.social.mail %}
  <li class="navigation__item">
    <a href="mailto:{{site.social.mail}}" title="Contact me">
      <i class='social fa fa-envelope'></i>
      <span class="label">Email</span>
    </a>
  </li>
  {% endif %}

  </ul>
</nav>
